<h1>nav panel
  тут должен быть Signin Signup favourites box 
</h1>
<nav>
    {{#if login}}
    <a href="http://localhost:3000/login/logout">LogOut</a>
    {{else}}
    <a href="http://localhost:3000/login/signin">SignIn</a>
    <a href="http://localhost:3000/login/signUp">SignUp</a>
    {{/if}}
    <a href="/cookie">Cookie</a>
</nav>
