{{!-- <h1>nav panel
  тут должен быть Signin Signup favourites box 
</h1>
<nav>
    {{#if login}}
    <a href="http://localhost:3000/login/logout">LogOut</a>
    {{else}}
    <a href="http://localhost:3000/login/signin">SignIn</a>
    <a href="http://localhost:3000/login/signUp">SignUp</a>
    {{/if}}
    <a href="/cookie">Cookie</a>
</nav> --}}



<nav>
    {{#if login}}
   
      <ul>
        <li><a href="http://localhost:3000/generator">Генератор</a></li>
        <li><a href="http://localhost:3000/login/logout">Выход</a></li>
        <li><a href="http://localhost:3000/favourites">Избранное</a></li>
        <li><a href="http://localhost:3000/box">Корзина</a></li>

      </ul>
    {{else}}
      <ul>
        <li><a href="http://localhost:3000/login/signin">Войти</a></li>
        <li><a href="http://localhost:3000/login/signUp">Регистрация</a></li>
      </ul>
   
    {{/if}}
 </nav>
