<nav>
    {{#if login}}
    <a href="http://localhost:3000/login/logout">LogOut</a>
    {{else}}
    <a href="http://localhost:3000/login/signin">SignIn</a>
    <a href="http://localhost:3000/login/signUp">SignUp</a>
    {{/if}}
    <a href="/cookie">Cookie</a>
</nav>
<script defer src=""></script>

