{{!-- <div class="container">
    <ul>
        {{#each box}}
        <li>Color</li>
        <li>Pic</li>
        <li>Pattern</li>
        <a href="{{this._id}}">Поделиться ссылкой</a>
        {{/each}}
    </ul>
</div> --}}

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    {{#each box}}
    <li class="list-group-item">Color</li>
    <li class="list-group-item">Pic</li>
    <li class="list-group-item">Pattern</li>
    <a href="{{this._id}}">Поделиться ссылкой</a>
    {{/each}}
  </ul>
</div>