{{!-- <div class="container">
    <ul>
        {{#each favourites}}
        <li>Color</li>
        <li>Pic</li>
        <li>Pattern</li>
        <a href="{{this._id}}">Поделиться ссылкой</a>
        {{/each}}
    </ul>
</div> --}}


<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    {{#each favourites}}
    <li class="list-group-item">Color</li>
    <li class="list-group-item">Pic</li>
    <li class="list-group-item">Pattern</li>
    <a href="{{this._id}}">Поделиться ссылкой</a>
    <button id={{this._id}} class="deleteButton">удалить</button>
    {{/each}}
  </ul>
</div>


<script>
    const deleteListBtn = document.querySelectorAll('.deleteButton')
    deleteListBtn.addEventListener('click', async (e) => {
        const div = e.target.parentElement.parentElement
        const id = e.target.id
        const response = await fetch(`/box/${id} `, {
            method: 'DELETE',
            header: {
                'Content-Type': 'application/json'
            },
            const result = await response.json()
            if(result.success) {
                div.remove()
            }
        })
    })
</script>