
<div class ='main'>

<h3>Выберите цвет носков, затем картинку , и потом узор</h3>

<div class = 'flex'>
  
  {{#each color}}

 <p class = '{{name}}'> {{name}} </p> 
 {{!-- <span class = '{{name}}'> . </span>  --}}

  {{/each}}
</div>

</div>


<script defer src="js/generator.js"></script>
