<h2>Its a index handlebars</h2>

<div class="container">
{{#if userName}}
<h3>Добро пожаловать, {{userName}}</h3>

<form action="/generator">
<button class="waves-effect waves-light btn-small" type="submit">Создать носки</button>
</form>


{{/if}}
</div>


