

 
<div class="wrapper-login">
  {{#if userName}}
 <p class="reg-title">Добро пожаловать, {{userName}}</p>
<form action="/generator">
<button class="registerbtn" type="submit">Создать носки</button>
</form>
{{/if}}
</div>



