<h2>SignIn</h2>
<h5>Добро пожаловать на сайт генерации носков</h5>
<p>Войдите в систему, чтобы использовать генератор</p>



<div>
<form class="signin" action="/login/signin" method="POST">   
    <input type="email"  name="email" placeholder="E-mail">
    <input type="password"  name="password"  placeholder="Password">
    <button class="btn btn-primary" type="submit">Signin</button>
</form>


</div>


<script defer src="/js/signin.js"></script>
