<h2>SignIn</h2>
<form class="signup" action="/login/signin" method="POST">   
    <input type="email"  name="email">
    <input type="password"  name="password">
    <button type="submit">Signin</button>
</form>

{{!-- <script defer src="/js/signin.js"></script> --}}
