<h2>SignUp</h2>
<div>
  <form class="signup" action="/login/signup" method="POST">
    <input type="text"  name="name" placeholder="Name">
    <input type="email"  name="email" placeholder="E-mail">
    <input type="password"  name="password" placeholder="password">
    <button class="btn btn-primary" type="submit">Signup</button>
</form>
</div>


<script defer src="/js/signup.js"></script>
