<h2>SignUp</h2>
<form class="signup" action="/login/signup" method="POST">
    <input type="text"  name="name">
    <input type="email"  name="email">
    <input type="password"  name="password">
    <button type="submit">Signup</button>
</form>

{{!-- <script defer src="/js/signup.js"></script> --}}
