<h3>
 <div class="text-ord">
 <p>Спасибо за Ваш заказ</p> 
  <p>Представитель магазина скоро свяжется в Вами!</p> 

 </div>
  <form action="http://localhost:3000/">
    <button class = 'tobox btns' href="http://localhost:3000/">На главную</button>
</form>
</h3>
